
<div class="getting_started">
<% if @user.weight_journals.count == 0 %>
  <%= link_to("Get started and create your first  weight journal!", new_weight_journal_path) %>
  <div class="veggies">
  <%= image_tag("veggieslifting.gif", :id => "veggies") %>
  </div>
  <!-- Add logic that if no weight journal exists don't display anything from below -->
</div>
<% else %>
<div class="large-size">
  <%= link_to("Create a New Journal!", new_weight_journal_path) %>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
  <h2>Active Journal(s):</h2>
  <% @user.active_journals.each do |j| %>
  <%= link_to(j.title, weight_journal_path(j)) %>
  <br>
  <% end %>
  </div>
  <div class="col-md-6">
  <h2>Completed Journal(s):</h2>
  <% @user.completed_journals.each do |j| %> 
    <%= link_to(j.title, weight_journal_path(j)) %>
    <br>
  <% end %>
  </div>
</div>
<br>
<div class="col-md-12">
  <h2>Overall Stats: </h2>
  <div class="calculator" >
   <%=image_tag("bigcalculator.png", :id => "bigcalculator") %> <br>(click me!)
  </div>

  <div class="journals-stats">

  <div class="col-md-4" id="overall-workout-stats">
    <h3><%= image_tag("dumbbells-exercise.png", :id => "exercise") %>workout stats:</h3>
    Exercised <%= @user.percentage_of_times_worked_out.to_s[0..4] %>% of the time<br>
    favorite workout + % of time
  </div>

  <div class="col-md-4" id="overall-feeling-stats">
    <h3><%= image_tag("smile.png", :id => "smile") %> feelings stats: <%= image_tag("smile2.png", :id => "smile") %></h3>
    Highly Motivated: <%= @user.percentage_highly_motivated_posts.to_s[0..4] %>%<br>
    Mid Motivated: <%= @user.percentage_mid_motivated_posts.to_s[0..4] %>%<br>
    Meh Motivated: <%= @user.percentage_low_motivated_posts.to_s[0..4] %>%<br>
    most popular feeling while dieting
  </div>

  <div class="col-md-4" id="overall-weight-stats">
    <h3><%= image_tag("avocado.png", :id => "avocado") %>weight stats:</h3>
    <% if @user.total_weight_loss > 0 %>
      Total Lost: <%= @user.total_weight_loss %> lbs! 
    <% elsif @user.total_weight_loss < 0 %>
      Total lbs gained: <%= @user.total_weight_loss.abs %>
    <% else %>
      No weight loss!
    <% end %>
    <br>
    Weight Goals Achieved: <%= @user.goals_achieved %>
  </div>

  </div>
</div>

  <div class="footer">
  Total Active Journals: <%= @user.active_journals.count %>
  &nbsp; &nbsp; &nbsp; &nbsp;
  Total Completed Journals: <%= @user.completed_journals.count %>
  &nbsp; &nbsp; &nbsp; &nbsp;
  Total Posts: <%=@user.number_of_posts %> 
  &nbsp; &nbsp; &nbsp; &nbsp;
 </div>  
<% end %>
</div>
