<div class="getting_started">
  <% if @user.weight_journals.count == 0 %>
    <%= link_to("Get started and create your first  weight journal!", new_weight_journal_path) %>
    <div class="veggies">
      <%= image_tag("veggieslifting.gif", :id => "veggies") %>
    </div>
</div>
  <% else %>
    <div class="large-size">
      <%= link_to("Create a New Journal!", new_weight_journal_path) %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Active Journal(s):</h2>
        <% @user.active_journals.each do |j| %>
          <img src="../assets/magnifying-glass.png" data-toggle="modal" data-target="#myModal" class="magnifying-glass" id="<%= j.id %>">
          <%= link_to(j.title, weight_journal_path(j)) %>
          <br>
        <% end %>
      </div>

      <div class="col-md-6">
        <h2>Completed Journal(s):</h2>
        <% @user.completed_journals.each do |j| %>
          <img src="../assets/magnifying-glass.png" data-toggle="modal" data-target="#myModal" class="magnifying-glass" id="<%= j.id %>"> 
          <%= link_to(j.title, weight_journal_path(j)) %>
          <br>
        <% end %>
      </div>
    </div>
    <br>
    <!-- RENDERS MODAL SHOW PAGE FOR QUICK VIEW OF JOURNAL -->
    <%= render "modal" %>
 
      <div class="col-md-12">
        <h2>Overall Stats: </h2>
        <div class="calculator" >
        <%=image_tag("bigcalculator.png", :id => "bigcalculator") %> <br>(click me!)
        </div>

        <div class="journals-stats">
          <!-- RENDERS WORKOUT STATS PER USER'S JOURNALS -->
          <%= render partial: 'workout_stats', locals: {user: @user} %>

          <!-- RENDERS FEELING STATS PER USER'S JOURNALS -->
          <%= render partial: 'feeling_stats', locals: {user: @user} %>

          <!-- RENDERS WEIGHT STATS PER USER'S JOURNALS -->
          <%= render partial: 'weight_stats', locals: {user: @user} %>
        </div>
      </div>

    <!-- RENDERS FOOTER -->
    <%= render partial: 'footer', locals: {user: @user} %>
  </div>
<% end %>



