<div class="row">
  <h1>starting stats:</h1>
  <div class="col-md-4">
  <strong>Start Date:</strong> <%= weight_journal.start_date %>
  </div>
  <div class="col-md-4">
  <strong>Start Weight: </strong><%= weight_journal.starting_weight %>
  </div>
  <div class="col-md-4">
  <strong>Total lbs. to Lose:</strong> <%= weight_journal.total_lbs_to_loose %>
  </div>
  <div class="col-md-4">
  <strong>Final Weigh In Date:</strong> <%= weight_journal.final_weigh_in_date %>
  </div>
  <div class="col-md-4">
  <strong>Weight Goal:</strong> <%= weight_journal.weight_goal %>
  </div>
  <div class="col-md-4">
  <strong>Weight to lose per day to hit goal:</strong> <%= weight_journal.avg_weight_to_loose_a_day_to_hit_goal %> 
  </div>
</div>