<!-- STARTING STATS FOR WEIGHT JOURNAL -->
<%= render partial: 'starting_stats', locals: {weight_journal: @weight_journal} %> 

<br>

<!-- CURRENT STATS FOR WEIGHT JOURNAL -->
<%= render partial: 'current_stats', locals: {weight_journal: @weight_journal, most_recent_weight: @most_recent_weight} %>

<br>

<!-- ANALYTICS  -->
<% if @weight_journal.posts.count >= 1 %>
  <div class="row">
    <h1>analytics:</h1>
  
    <!-- ANALYTICS FOR WORKOUTS -->
    <%= render partial: 'workouts', locals: {weight_journal: @weight_journal, most_popular_exercise: @most_popular_exercise} %> 

    <!-- ANALTICS FOR FEELINGS -->
    <%= render partial: 'feelings', locals: {weight_journal: @weight_journal, most_popular_feeling: @most_popular_feeling} %> 
  </div>
<% end %>
 <%= render partial: 'footer', locals: {weight_journal: @weight_journal} %> 
