<div class="row">
<h1>starting stats:</h1>
<div class="col-md-4">
<strong>Start Date:</strong> <%= @weight_journal.start_date %>
</div>
<div class="col-md-4">
<strong>Start Weight: </strong><%= @weight_journal.starting_weight %>
</div>
<div class="col-md-4">
<strong>Total lbs. to Lose:</strong> <%= @weight_journal.total_lbs_to_loose %>
</div>
<div class="col-md-4">
<strong>Final Weigh In Date:</strong> <%= @weight_journal.final_weigh_in_date %>
</div>
<div class="col-md-4">
<strong>Weight Goal:</strong> <%= @weight_journal.weight_goal %>
</div>
<div class="col-md-4">
<strong>Weight to lose per day to hit goal:</strong> <%= @weight_journal.avg_weight_to_loose_a_day_to_hit_goal %> 
</div>
</div>
<br>

<% if @weight_journal.posts.count >= 1 %>
    <div class="row">
    <h1>current stats:</h1>
    <div class="col-md-4">
    Total number of posts in journal: <%= @weight_journal.total_num_of_posts %> 
    <br>most recent weight, total pounds lost
    </div>
    <div class="col-md-4">
    Past few posts
    <% @weight_journal.last_three_days_posts.map do |meow| %>
    <%= link_to(meow.entry_date, weight_journal_post_path(@weight_journal, meow)) %>
    <% end %>
    </div>
<% else %> 
  <div class="no_previous_posts">
  Get started ... <%= link_to "create a post!",  new_weight_journal_post_path(@weight_journal) %>
<% end %>
  </div>
  <br>

<!-- ANALTICS  -->
<% if @weight_journal.workouts.count >= 1 %>
  <div class="row">
  <h1>analytics:</h1>
  
<!-- ANALYTICS FOR WORKOUTS -->
  <div class="col-md-6">
  <h2>workouts:</h2>
  <strong>Percentage of times worked out:</strong><br>
  Of <%= @weight_journal.posts.count %> post(s), you worked out %<%= @weight_journal.workouts_percentage.round(2) %> of the time
  <br><br>
  <strong>Most Popular Workout(s): </strong> 
  <% @most_popular_exercise.map do |workout|
   %><br>
   <%= workout %>
  <% end %>
  <br><br>
    <strong>Total List of Workouts:</strong> 
    <% @weight_journal.exercises_listed_in_order.map do |k, v| %>
      <br> <%= k.capitalize %> : <%= v %> time(s)
    <% end %>
  </div>

<!-- ANALTICS FOR FEELINGS -->
   <div class="col-md-6"> 
   <h2>feelings:</h2>
    <strong>Most felt feeling(s):</strong>
  <% @weight_journal.most_popular_feeling.map do |feels| %><br>
    <%= feels.feeling %>
  <% end %>
<br><br>
  <strong>Total List of Feelings:</strong>  
  <% @weight_journal.feelings_listed_in_order.map do |k, v| %>
    <br><%= k.capitalize %> : <%= v %> time(s) 
  <% end %>
  </div>
</div>
<% end %>

  <div class="footer" align="center">
  <% if @weight_journal.posts.count >= 1 %>
  Create a new <%= link_to "post", new_weight_journal_post_path(@weight_journal) %>
  <% end %>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <%= (@weight_journal.final_weigh_in_date - DateTime.now).to_i + 1 %> days left to reach your goal of <%= @weight_journal.weight_goal %> lbs!
  &nbsp; &nbsp; &nbsp; &nbsp;
  <% if @weight_journal.posts.count >= 1 %>
  <%= link_to("View all posts", weight_journal_posts_path(@weight_journal)) %>
  <% end %>
 </div>  