<!-- STARTING STATS FOR WEIGHT JOURNAL -->
<%= render partial: 'starting_stats', locals: {weight_journal: @weight_journal} %> 

<br>

<!-- CURRENT STATS FOR WEIGHT JOURNAL -->
<%= render partial: 'current_stats', locals: {weight_journal: @weight_journal, most_recent_weight: @most_recent_weight} %>

<br>

<!-- ANALYTICS  -->
<% if @weight_journal.posts.count >= 1 %>
  <div class="row">
    <h1>analytics:</h1>
  
    <!-- ANALYTICS FOR WORKOUTS -->
    <%= render partial: 'workouts', locals: {weight_journal: @weight_journal, most_popular_exercise: @most_popular_exercise} %> 

    <!-- ANALTICS FOR FEELINGS -->
    <%= render partial: 'feelings', locals: {weight_journal: @weight_journal, most_popular_feeling: @most_popular_feeling} %> 
  </div>
<% end %>
 <%= render partial: 'footer', locals: {weight_journal: @weight_journal} %> 

<!-- SHIA LABEOUF VIDEO (not my code) -->
<div class="shia">
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/ZXsQAXx_ao0">NEED MOTIVATION?!</a>
</div>

  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <font color="red"><br><br><br><br>GET<br><br>ME<br><br>OUT<br><br>OF<br><br>HERE!</font></button>
        <div>
          <iframe width="90%" height="350" src=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>