<%= form_for([@weight_journal, @post], :method => :patch, :url => weight_journal_post_path(@weight_journal, @post)) do |f| %>
  <br>
  <p><%= f.label "Entry Date" %>
  <%= f.date_field :entry_date %></p>

  <p><%= f.label "Current Weight" %>
  <%= f.number_field :current_weight %></p>

    <p><%= f.label "Worked Out?" %>
  <%= f.check_box :worked_out %></p>

  <p><%= f.label "Motivational Level (1-10)" %>
  <%= f.number_field :motivation_level, in: 1..10 %></p>

  <p><%= f.label "What workout did you complete today?" %> <br>
  <%= f.collection_check_boxes(:workout_ids, Workout.all, :id, :workout_type) %></p>
  
  <p><%= f.label "How'd you feel today?" %> <br>
  <%= f.collection_check_boxes(:feeling_ids, Feeling.all, :id, :feeling) %></p>

  <p><%= f.label "Notes" %>
  <%= f.text_area :notes %></p>

  <%= f.submit "Fix that mistake bruh!!" %></p>

<% end %>