<h1><%= @user.full_name %> -- Below are your daily stats! </h1>

<h2>Remember, you have <%= (@weight_journal.final_weigh_in_date - @post.entry_date).to_i  %> day(s) left to reach your goal of <%= @weight_journal.weight_goal %> lbs! </h2>

<h3>Your original start date: <%= @weight_journal.start_date %> <br>Starting Weight: <%= @weight_journal.starting_weight%> <br>Today's entry date and weight: <%= @post.entry_date %> / <%= @post.current_weight %> lbs. </h3>

<!-- RENDERS LOGIC FOR POST'S WEIGHT, MOTIVATION, AND EXERCISE INPUTS -->
<%= render partial: 'logic', locals: {weight_journal: @weight_journal, user: @user, post: @post} %>

<p><h3>Notes:</h3>
<%= @post.notes %>
</p>

<p><%= link_to("Go back to #{@weight_journal.title}", weight_journal_path(@weight_journal)) %></p>

<p><%= link_to("Go back to homepage", user_path(@weight_journal.user_id) ) %></p>
